{% spaceless %}
  {% if breadcrumbs %}
    {#If breadcrumb is a link it will have two elements, otherwise just one, the title#}
    <div class="breadcrumbs">{% for breadcrumb in breadcrumbs %}
        {% if breadcrumb[1] %}
          <a href="{{ breadcrumb[1] }}">{{ breadcrumb[0] }}</a>
        {% else %}
          <span>{{ breadcrumb[0] }}</span>
        {% endif %} &raquo
      {% endfor %}</div>
  {% endif %}
{% endspaceless %}
